 
    <footer class="page-footer grey darken-4">
        <div class="container">
            <div class="row">
                <div class="col-md-3 ">
                    <img src="img/logo.png " style="margin-bottom: 10px;">
                    <p class="gray-text " style="font-weight: 100; ">The world is a book and those who do not travel read only one page</p>
                </div>
                <div class="col-md-3 ">
                    <h5 class="white-text">LINK</h5>
                    <ul style="line-height: 25px;list-style-type: none; ">
                        <li><a class="gray-text" href="#!">About us</a></li>
                        <li><a class="gray-text" href="#!">tayyarah Reviews</a></li>
                        <li><a class="gray-text" href="#!">Terms and Conditions</a></li>
                        <li><a class="gray-text" href="#!">Privacy Policy</a></li>
                        <li><a class="gray-text" href="#!">Copyright Policies</a></li>
                        <li><a class="gray-text" href="#!">Support</a></li>
                        <li><a class="gray-text" href="#!">Apps</a></li>
                        <li><a href="#!" class="text-warning">We are Hiring</a></li>
                        <li><a href="#!" class="text-warning">Gift an Experience</a></li>
                    </ul>
                </div>
                <div class="col-sm-4">
                    <div class="footer-link">
                        <h5 class="white-text">RECENT BLOG POST</h5>
                        <ul style="line-height: 25px;list-style-type: none; ">
                            <li><a href="#" class="gray-text">20 Places You Need To Visit In India With Your Best Friend</a></li>
                            <li><a href="#" class="gray-text">50 Best Honeymoon Destinations In India</a></li>
                            <li><a href="#" class="gray-text">25 Kickass International Trips Under 50k To Plan For 2015</a></li>
                            <li><a href="#" class="gray-text">52 Places To Visit In India Before You Turn 30</a></li>
                            <li><a href="#" class="gray-text">50 Countries Where Getting A Visa Is Easier Than Ordering A Pizza</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="footer-link">
                        <ul style="line-height: 25px;list-style-type: none; ">
                            <h5 class="text-white">Suppliers</h5>
                            <li><a href="suppliers.html" class="text-warning">List Your Activities</a></li>
                            <li><a href="platform_leads.html" class="text-warning">Advertise with us</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer_bottom text-center">
            <a href="#! " style="text-decoration: none; "> <i class="fa fa-facebook social-icon "></i> </a>
            <a href="#! " style="text-decoration: none; "> <i class="fa fa-google-plus social-icon "></i> </a>
            <a href="#! " style="text-decoration: none; "> <i class="fa fa-twitter social-icon "></i> </a>
            <a href="#! " style="text-decoration: none; "> <i class="fa fa-instagram social-icon "></i> </a>
            <a href="#"><i class="fa fa-linkedin social-icon" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-pinterest social-icon" aria-hidden="true"></i></a>

            <p class="text-white" style="margin-top: 10px;margin-bottom:0px;">© 2018 &nbsp;<a href="http://tayyarah.com" class="text-warning" target="_blank">tayyarah.com</a> All rights reserved</p>
        </div>
    </footer>
 