 
.search-engine {
    position: absolute;
    top: 70%;
    left: 10%;
}
.searchForm input{
    height: 32px;
}
.autoComp input{
    background-color: red!important; 
}
.buttonBlock{
    padding-left: 40px;
}
.buttonBlock button{
    width: 125px;
    background-color: chocolate;
    color: white;
}
.parallax-background {
    background-image: url(/assets/images/s3.jpg);
    min-height: 600px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
