<div class="parallax-background">
  <div class="parallax">
      <div class="container">
          <div class="row">
              <div class="col-md-12">
                  <h1 class="Find-quiz text-center">Book Flights, Hotels and Bus </h1>
                  <h4 class="discover-school text-center">50 Best Adventure Destinations In India</h4>
              </div>
              <div class="col-md-12">
                 
                  <div class="btns-top">
                      <a id="school" class="main-tabs active" href="#" role="button"><i class="fa fa-plane" aria-hidden="true"></i> Flight</a>
                      <a id="college" class="main-tabs" href="#" role="button"><i class="fa fa-bed" aria-hidden="true"></i> Hotel</a>
                      <a id="institute" class="main-tabs" href="#" role="button"><i class="fa fa-bus" aria-hidden="true"></i> Bus</a>
                  </div>
              </div>
              <div class="col-md-12">
                  <div class="search-box search-book-box searchEngine">                    
                           
                                <form class="form-inline" #flightForm="ngForm" (ngSubmit)="flightSearch(flightForm)">
                                        <div class="form-group">                                                
                                            <div ng2-auto-complete 
                                            [source]="arrayOfStrings"
                                            (valueChanged)="originChanged($event)"
                                            placeholder="enter text">
                                            <input name="origin"  placeholder="origin"/>
                                           </div>
                                        </div>
                                        <div class="form-group">
                                            <div ng2-auto-complete 
                                            [source]="arrayOfStrings"
                                            (valueChanged)="destChanged($event)"
                                            placeholder="enter text">
                                            <input  name="destination" placeholder="Destination"/>
                                            </div>
                                         </div>
                                         <div class="form-group">        
                                            <ng-datepicker   name="departDate" [(ngModel)]="depDate" [options]="options"></ng-datepicker> 
                                          </div>
                                          <div class="form-group">        
                                            <ng-datepicker   name="arrivalDate" [(ngModel)]="arrivalDate" [options]="options"></ng-datepicker> 
                                          </div>     
                                         <div class="form-group">
                                            <button type="submit" class="btn btn-search" >Search</button>
                                          </div>                          
                                     </form>                                        
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<div class="search-box">
  <h1 class="heading-title" style="margin-bottom:0px;">Flight Experiences Across The Globe</h1>
 
      <div class="section-white">
          <div class="container">
<div>
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                  <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner" role="listbox">
                  <div class="carousel-item active">
                    <div class="row">
                        <div class="col-md-4"><img class="d-block img-fluid" src="./assets/images/c1.jpg" alt="First slide"></div>
                        <div class="col-md-4"><img class="d-block img-fluid" src="./assets/images/c2.jpg" alt="Second slide"></div>
                        <div class="col-md-4"><img class="d-block img-fluid" src="./assets/images/c3.jpg" alt="Third slide"></div>
                    </div>    
                  </div>
                  <div class="carousel-item">
                        <div class="row">
                                <div class="col-md-4"><img class="d-block img-fluid" src="./assets/images/c1.jpg" alt="First slide"></div>
                                <div class="col-md-4"><img class="d-block img-fluid" src="./assets/images/c2.jpg" alt="Second slide"></div>
                                <div class="col-md-4"><img class="d-block img-fluid" src="./assets/images/c3.jpg" alt="Third slide"></div>
                            </div>
                  </div>  
                  <div class="carousel-item">
                        <div class="row">
                                <div class="col-md-4"><img class="d-block img-fluid" src="./assets/images/c1.jpg" alt="First slide"></div>
                                <div class="col-md-4"><img class="d-block img-fluid" src="./assets/images/c2.jpg" alt="Second slide"></div>
                                <div class="col-md-4"><img class="d-block img-fluid" src="./assets/images/c3.jpg" alt="Third slide"></div>
                            </div>
                  </div>                 
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
 
            </div>          
             
          </div>
      </div>
 
</div>
 
 <!--
 
<div class="search-engine">

  <form class="form-inline" #flightForm="ngForm" (ngSubmit)="flightSearch(flightForm)">
    <div class="col-md-12">
   <div class="col-md-8 col-sm-8 col-xs-12 searchForm">
      <div class="col-md-3 col-sm-3 col-xs-12">
        <div ng2-auto-complete 
        [source]="arrayOfStrings"
        (valueChanged)="originChanged($event)"
        placeholder="enter text">
        <input name="origin"  placeholder="origin"/>
      </div>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-12">
        <div ng2-auto-complete 
        [source]="arrayOfStrings"
        (valueChanged)="destChanged($event)"
        placeholder="enter text">
        <input  name="destination" placeholder="Destination"/>
        </div>
     </div>
     <div class="col-md-3 col-sm-3 col-xs-12">        
        <ng-datepicker   name="departDate" [(ngModel)]="depDate" [options]="options"></ng-datepicker> 
      </div>
      <div class="col-md-3 col-sm-3 col-xs-12">        
        <ng-datepicker   name="arrivalDate" [(ngModel)]="arrivalDate" [options]="options"></ng-datepicker> 
      </div>     
      </div>

      <div class="col-md-4 col-sm-4 col-xs-12 buttonBlock">
        <button type="submit" class="btn btn-default" >Search</button>
      </div>

 
    </div>
    </form>
</div>
-->
