<div class="parallax-background">
  <div class="parallax">
      <div class="container">
          <div class="row">
              <div class="col-md-12">
                  <h1 class="Find-quiz">Book Flights, Hotels and Bus </h1>
                  <h4 class="discover-school text-center">50 Best Adventure Destinations In India</h4>
              </div>
              <div class="col-md-12">
                  <div class="btns-top">
                      <a id="school" class="main-tabs" href="#" role="button"><i class="fa fa-plane" aria-hidden="true"></i> Flight</a>
                      <a id="college" class="main-tabs" href="#" role="button"><i class="fa fa-bed" aria-hidden="true"></i> Hotel</a>
                      <a id="institute" class="main-tabs" href="#" role="button"><i class="fa fa-bus" aria-hidden="true"></i> Bus</a>
                  </div>
              </div>
              <div class="col-md-12">
                  <div class="search-box search-book-box">
                      <div class=" ">
                          <div class="row">
                              <div class="col-md-2">
                                  <div class="">
                                      <input type="text" placeholder="From" class="form-control">
                                  </div>
                              </div>
                              <div class="col-md-2">
                                  <div class="">
                                      <input type="text" placeholder="To" class="form-control">
                                  </div>
                              </div>
                              <div class="col-md-2">
                                  <div class="">
                                      <input type="text" class="form-control" id="date" placeholder="Depart Date">
                                  </div>
                              </div>
                              <div class="col-md-2">
                                  <div class="">
                                      <input type="text" class="form-control" id="daterange" placeholder="Return Date">
                                  </div>
                              </div>
                              <div class="col-md-2">
                                  <div class="">
                                      <input type="text" placeholder="1 Traveller" class="form-control">
                                  </div>
                              </div>
                              <div class="col-md-2">
                                  <div class="float-right">
                                      <a href="flight-result.html" class="btn btn-success">Book Now</a>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="search-box2 search-book-box" style="display:none;">
                      <div class=" ">
                          <div class="row">
                              <div class="col-md-3">
                                  <div class="">
                                      <input type="text" placeholder="Select City, Location or Hotel" class="form-control">
                                  </div>
                              </div>
                              <div class="col-md-2">
                                  <div class="">
                                      <input type="text" placeholder="Check-in" id="daterange" class="form-control">
                                  </div>
                              </div>
                              <div class="col-md-2">
                                  <div class="">
                                      <input type="text" placeholder="Check-out" class="form-control">
                                  </div>
                              </div>
                              <div class="col-md-3">
                                  <div class="">
                                      <input type="text" placeholder="1 Person 1 Room" class="form-control">
                                  </div>
                              </div>
                              <div class="col-md-2">
                                  <div class="float-right">
                                      <a href="flight-result.html" class="btn btn-success">Book Now</a>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="search-box3 search-book-box" style="display:none;">
                      <div class=" ">
                          <div class="row">
                              <div class="col-md-3">
                                  <div class="">
                                      <input type="text" placeholder="From" class="form-control">
                                  </div>
                              </div>
                              <div class="col-md-3">
                                  <div class="">
                                      <input type="text" placeholder="To" class="form-control">
                                  </div>
                              </div>
                              <div class="col-md-2">
                                  <div class="">
                                      <input type="text" placeholder="Depart Date" id="date" class="form-control">
                                  </div>
                              </div>
                              <div class="col-md-2">
                                  <div class="">
                                      <input type="text" placeholder="1 Seat" class="form-control">
                                  </div>
                              </div>
                              <div class="col-md-2">
                                  <div class="float-right">
                                      <a href="flight-result.html" class="btn btn-success">Book Now</a>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<div class="search-box">
  <h1 class="heading-title" style="margin-bottom:0px;">Flight Experiences Across The Globe</h1>
 
      <div class="section-white">
          <div class="container">
              <div class="row">
                  <div class="col-md-12">
                      <div id="owl-demo" class="owl-carousel">
                          <div class="item">

                              <div class="owl-card">
                                  <a href="#!"> <img class="img-fluid border-radius-none" src="./assets/images/c1.jpg"> <span class="more-detail"> Bangalore to Delhi  <h5 class="text-danger">Rs. 4,500</h5> </span> </a>
                              </div>

                          </div>
                          <div class="item">
                              <div class="owl-card">
                                  <a href="#!"> <img class="img-fluid border-radius-none" src="./assets/images/c2.jpg"> <span class="more-detail"> Kolkatta to Mumbai  <h5 class="text-danger">Rs. 4,500</h5> </span> </a>
                              </div>

                          </div>
                          <div class="item">

                              <div class="owl-card">
                                  <a href="#!"> <img class="img-fluid border-radius-none" src="img/c3.jpg"> <span class="more-detail"> Channai to Harayana  <h5 class="text-danger">Rs. 4,500</h5> </span></a>
                              </div>

                          </div>
                          <div class="item">

                              <div class="owl-card">
                                  <a href="#!"> <img class="img-fluid border-radius-none" src="./assets/images/c4.jpg"> <span class="more-detail"> Delhi to Bangalore  <h5 class="text-danger">Rs. 4,500</h5> </span> </a>
                              </div>

                          </div>
                          <div class="item">

                              <div class="owl-card">
                                  <a href="#!"> <img class="img-fluid border-radius-none" src="./assets/images/c5.jpg"> <span class="more-detail"> Bangalore to Mumbai  <h5 class="text-danger">Rs. 4,500</h5> </span></a>
                              </div>

                          </div>
                          <div class="item">

                              <div class="owl-card">
                                  <a href="#!"> <img class="img-fluid border-radius-none" src="./assets/images/c6.jpg"> <span class="more-detail"> Mumbai to Delhi  <h5 class="text-danger">Rs. 4,500</h5> </span></a>
                              </div>

                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
 
</div>
 
 <!--
<div>
    <div class="banner">
        <div id="carousel-id" class="carousel slide carousel-fade"
         data-ride="carousel">
       
         <div class="carousel-inner">
           <div class="item">
             <img alt="First slide" src="./assets/images/cor1.jpg" width="100%"
               height="612px">
           </div>
           <div class="item active">
             <img alt="First slide" src="./assets/images/cor2.jpg" width="100%"
               height="612px">
           </div>
           <div class="item">
             <img alt="First slide" src="./assets/images/cor3.jpg" width="100%"
               height="612px">
           </div>
           <div class="item">
             <img alt="First slide" src="./assets/images/cor4.jpg" width="100%"
               height="612px">
           </div>
         </div>
       </div>  
         </div>
</div>
<div class="search-engine">

  <form class="form-inline" #flightForm="ngForm" (ngSubmit)="flightSearch(flightForm)">
    <div class="col-md-12">
   <div class="col-md-8 col-sm-8 col-xs-12 searchForm">
      <div class="col-md-3 col-sm-3 col-xs-12">
        <div ng2-auto-complete 
        [source]="arrayOfStrings"
        (valueChanged)="originChanged($event)"
        placeholder="enter text">
        <input name="origin"  placeholder="origin"/>
      </div>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-12">
        <div ng2-auto-complete 
        [source]="arrayOfStrings"
        (valueChanged)="destChanged($event)"
        placeholder="enter text">
        <input  name="destination" placeholder="Destination"/>
        </div>
     </div>
     <div class="col-md-3 col-sm-3 col-xs-12">        
        <ng-datepicker   name="departDate" [(ngModel)]="depDate" [options]="options"></ng-datepicker> 
      </div>
      <div class="col-md-3 col-sm-3 col-xs-12">        
        <ng-datepicker   name="arrivalDate" [(ngModel)]="arrivalDate" [options]="options"></ng-datepicker> 
      </div>     
      </div>

      <div class="col-md-4 col-sm-4 col-xs-12 buttonBlock">
        <button type="submit" class="btn btn-default" >Search</button>
      </div>

 
    </div>
    </form>
</div>
-->
